@import "setup";

$sunflower: #ffff57;
$navy: #09001F;
$moon: #FCFFEE;
$disco: #9B1049;
$purple: #5023E8;

body {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	transition: all 0.5s ease;
	color: $navy;
}

h1, h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1 {
	font-size: 5em;
	font-family: 'Abril Fatface', serif;
	@media all and (max-width: 690px) {
		font-size: 4em;
	}
	@media all and (max-width: 525px) {
		font-size: 3em;
	}
	@media all and (max-width: 425px) {
		font-size: 2em;
	}
}

h1, h2, h3 {
	margin: 0;
}

h2 {
	font-size: 1.1em;
	font-family: 'Oswald', sans-serif;
	@media all and (max-width: 425px) {
		font-size: 1em;
	}
}

h3, h4, h5 {
	font-family: 'Roboto Condensed', sans-serif;
}

h3 {
	font-size: 2em;
	font-weight: 400;
	@media all and (max-width: 425px){
		font-size: 1.5em;
	}
}

h4 {
	font-size: 2em;
	margin: 0;
	@media all and (max-width: 425px) {
		font-size: 1.5em;
	}
}

h5 {
	margin-top: 5px;
	font-style: italic;
	font-size: 1.5em;
	@media all and (max-width: 425px) {
		font-size: 1em;
	}
}

p {
	line-height: 1.5;
	font-size: 1.2em;
	@media all and (max-width: 690px) {
		font-size: 1em;
	}
}

a {
	color: $navy;
	text-decoration: none;
	border-bottom: 4px solid $purple;
	transition: all 0.25s ease-in-out;
}

img {
	max-width: 100%;
}

header {
	padding: 4%;
	background: $sunflower;
	@media all and (max-width: 525px) {
		padding: 10%;
	}
}

.little-char {
	text-transform: lowercase;
	font-size: 0.3em;
	letter-spacing: 0;
	position: relative;
	top: -20px;
}

.logo-icon {
	@media all and (max-width: 690px) {
		width: 30%;
	}
}

.section-mood {
	padding: 5%;
	background: $disco;
	h3 {
		color: #ffbed9;
	}
	@media all and (max-width: 525px) {
		padding: 10%;
	}
}

.btn,
.mood-btn {
	border: none;
	background: $navy;
	color: $moon;
	font-size: 1.2em;
	padding: 25px 35px;
	margin: 2.5%;
	@media all and (max-width: 690px) {
		padding: 15px 25px;
	}
	@media all and (max-width: 425px) {
		font-size: 1em;
		padding: 10px;
	}
}

.btn {
	box-shadow: 
		2px 2px 0px $moon,
		6px 6px 0px $navy;
	padding: 15px 25px;
}

.mood-btn {
	box-shadow: 
		2px 2px 0px $disco,
		6px 6px 0px $navy;
}

.results-title {
	background: $navy;
	padding: 2.5%;
	color: $moon;
}

.section-results {
	padding: 1%;
	background: $moon;
	@media all and (max-width: 800px) {
		padding: 10% 2%;
	}
}

.mood-selector  {
	padding: 3%;
}

.highlight {
	text-transform: uppercase;
	border-bottom: 4px solid $disco;
}

.results {
	display: flex;
	justify-content: center;
	align-items: top;
	@media all and (max-width: 800px) {
		display: block;
		padding-bottom: 5%;
	}
}

.pairing {
	padding: 2.5% 5%;
}

.beer, .book {
	width: 45%;
	@media all and (max-width: 800px) {
		width: 80%;
		margin: 0 auto;
	}
}

.divider {
	align-self: center;
	width: 10%;
	text-align: center;
	h2 {
		font-family: 'Abril Fatface', serif;
		font-size: 3.5em;
	}
	@media all and (max-width: 800px) {
		margin: 5% auto;
	}
}

#book-img,
#booze-img {
	mix-blend-mode: multiply;
	width: 40%;
}



footer {
	padding: 2%;
	background: $sunflower;
}
